<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
    <style>
        *{margin:0;padding:0;}
        #app{width:800px;margin:30px auto;}
        mark{margin:0 10px;}
        nav{margin:10px 0;}
        ul{list-style:none}
        ul li>a{display:inline-block;width:40px;height:30px;text-align:center;}
        .active{background:#ff4343}
    </style>
</head>
<body>
<div id="app">
    <section>
        <nav>
            你的选择：
            <mark v-for="item,key in checked">
                {{item}}
                <a href="javascript:;" @click="delHandle(key)">x</a>
            </mark>
        </nav>
        <ul>
            <li v-for="item,index in newTabData">
                {{item.title}}
                <a
                        href="javascript:;"
                        v-for="option,j in item.list"
                        @click="checkedHandle(option,index,j)"
                        :class="{active:item.indexs === j}"
                >{{option}}</a>
            </li>
        </ul>
    </section>
</div>
<script>

    let tabData = [
        {
            title:'新闻',
            list:['a','b','c','d']
        },
        {
            title:'娱乐',
            list:['A','B','C','D']
        },
        {
            title:'社会',
            list:['aa','bb','cc','dd']
        },
        {
            title:'贵阳',
            list:['洋芋','土豆','地瓜']
        }
    ]

    let vm = new Vue({
        el:'#app',
        data:{
            tabData:tabData,
            checked:{}
        },
        computed:{
            newTabData(){
                 this.tabData.forEach(item => item.indexs = -1);
                 return this.tabData;
            }
        },
        methods:{
            checkedHandle(val,index,j){
                //定义的对象属性必须用这种方式进行设置，否则不会动态渲染数据
                this.$set(this.checked,index,val);
                this.tabData[index].indexs = j
            },
            delHandle(index){
                //删除对象的属性
                this.$delete(this.checked,index);
                this.tabData[index].indexs = -1;
            }
        }
    })
</script>
</body>
</html>